<div class="caculator">
    <div class="wrapper">
        <div class="output">
            <div type="text">{{result}}</div>
        </div>
        <div class="input">
            <label for="">Input A</label>
            <input class="input_item" type="text">
            <label for="">Input B</label>
            <input class="input_item" type="text">
        </div>
        <div class="math">
            <button class="math_item add">+</button>
            <button class="math_item sub">-</button>
            <button class="math_item mul">x</button>
            <button class="math_item buttonison">:</button>
            <button class="math_item show">=</button>
        </div>
    </div>
</div>