* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
a {
     text-decoration: none;
     color: unset;
}
a:hover {
     color: unset;
}
button,
input{
     border: none;
     outline: none;
}
img {
     max-width: 100%;
}

body{
    height: 100vh;
}
